<!DOCTYPE html>
<html>
<head>
    <title>Edit Menu</title>
</head>
<body>
    <h1>メニュー編集</h1>

    {% for menu in menu %}
    <form method="post" action="{% url 'save_edit_menu' menu.menu_id %}">
        {% csrf_token %}
        <label for="menu_name">メニュー名:</label>
        <input type="text" id="menu_name" name="menu_name" value="{{ menu.menu_name }}" required><br>

        <label for="cooking_time">調理時間（分）:</label>
        <input type="number" id="cooking_time" name="cooking_time" value="{{ menu.cooking_time }}" required><br>

        <label for="menu_category_code">カテゴリー:</label>
        <input type="text" id="menu_category_code" name="menu_category_code" value="{{ menu.menu_category_code }}" required><br>

        <input type="submit" value="保存">
    </form>
    {% endfor %}
    <a href="{% url 'manage_menus' %}">メニュー一覧に戻る</a>
</body>
</html>
