<!DOCTYPE html>
<html>
<head>
    <title>Edit Menu</title>
</head>
<body>
    <h1>メニュー編集</h1>

    <td>{{menu.menu_name}}</td>
    <form method="post" action="" onsubmit="return confirmSubmit()">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'manage_menus' %}">メニュー一覧に戻る</a>
    <footer>
        <p>&copy; 2024 Auto Menu App. All rights reserved.</p>
    </footer>
</body>
</html>

<script>
    function confirmSubmit() {
        return confirm("変更を保存します。よろしいですか？");
    }
</script>