<!DOCTYPE html>
<html>
<head>
    <title>Manage Ingredients</title>
</head>
<body>
    <h1>食材一覧</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>食材名</th>
                <th>アレルギー</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.ingredient_id }}</td>
                <td>{{ ingredient.ingredient_name }}</td>
                <td>{{ ingredient.allergen_level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">トップ画面に戻る</a>
</body>
</html>
