<!DOCTYPE html>
<html>
<head>
    <title>Manage Menus</title>
</head>
<body>
    <h1>メニュー一覧</h1>

    <table>
        <thead>
            <tr>
                <th>メニュー名</th>
                <th>調理時間</th>
                <th>カテゴリー</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
            <tr>
                <td>{{ menu.menu_name }}</td>
                <td>{{ menu.cooking_time }}分</td>
                <td>{{ menu.menu_category_code }}</td>
                <td><button type="submit">編集</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
